<div class="container py-5 fade-in sign-in-form">
  <div class="row justify-content-center">
    <div class="col-md-6-">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h1 class="h4 mb-0">Sign Up</h1>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, local: true) do |f| %>
            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <h2 class="h6"><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</h2>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
            <div class="mb-3 select-form-padding">
              <%= f.label :name, class: "form-label" %>
              <%= f.text_field :name, class: "form-control", required: true, autofocus: true %>
            </div>
            
            <div class="mb-3 select-form-padding">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            
            <div class="mb-3 select-form-padding">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>
            
            <div class="mb-3 select-form-padding">
              <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control", required: true %>
            </div>
            
              <div class="mb-3 select-form-padding">
              <%= f.label :preferred_language, class: "form-label" %>
              <%= f.select :preferred_language, 
                          options_for_select([['English', 'en'], ['Spanish', 'es'], ['French', 'fr']]), 
                          {}, { class: "form-select" } %>
            </div>
            
            <%= f.hidden_field :role, value: "patient" %>
            
            <div class="d-grid">
              <%= f.submit "Sign Up", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <p class="mb-0">Already have an account? <%= link_to "Sign In", new_session_path %></p>
        </div>
      </div>
    </div>
  </div>
</div> 